@font-face {
	font-family: WorkSans;
	src: url('../worksans/WorkSans-Light.otf');
  }

  body {
	font-family: WorkSans;
	font-weight: lighter;
  }

  .content {
	justify-content: center;
	align-items: center;
  }

  .headerBtns {
	-webkit-app-region: no-drag;
	cursor: pointer;
	color: white;
	font-size: large;
  }

  .crsr-point {
	cursor: pointer;
  }

  #log {
	position: fixed;
	bottom: 0%;
	left:25%;
  }

  /* Let's get this party started */
  ::-webkit-scrollbar {
	width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgb(55, 60, 88);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(55, 60, 88, 0.4);
  }